<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.BoardRepository">

    <select id="selectOne" parameterType="Integer" resultType="BoardDto">
        SELECT * FROM db_board WHERE board_id=#{id}
    </select>
    <select id="select" resultType="BoardDto">
        SELECT * FROM db_board
    </select>
    <select id="getByCustId" parameterType="String" resultType="BoardDto">
        SELECT * FROM db_board WHERE cust_id=#{id}
    </select>
    <select id="getRank" resultType="BoardDto">
        SELECT * FROM db_board ORDER BY board_cnt DESC LIMIT 3
    </select>
<!--    <select id="getAddrByCustId" parameterType="String" resultType="AddrDto">-->
<!--        SELECT * FROM db_addr WHERE cust_id=#{custId}-->
<!--    </select>-->
    <insert id="insert" parameterType="BoardDto">
        INSERT INTO db_board VALUES (0, #{custId}, #{boardTitle}, #{boardContent}, NOW(), NOW(), 0)
    </insert>
    <update id="update" parameterType="BoardDto">
        UPDATE db_board SET board_title = #{boardTitle}, board_content = #{boardContent}, board_update = NOW() WHERE board_id=#{boardId}
    </update>
    <update id="updateBoardCnt" parameterType="Integer">
        UPDATE db_board SET board_cnt = board_cnt+1 WHERE board_id = #{boardId}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM db_board WHERE board_id=#{boardId}
    </delete>

</mapper>