<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.BoardRepository">
    <resultMap id="boardComment" type="BoardDto">
        <id column="board_id" property="boardId"/>
        <result column="board_title" property="boardTitle"/>
        <result column="board_content" property="boardContent"/>
        <result column="cust_id" property="custId"/>
        <result column="board_regdate" property="boardRegdate"/>
        <result column="board_update" property="boardUpdate"/>
        <result column="board_cnt" property="boardCnt"/>
        <!--1 : N-->
        <collection property="commentList" ofType="CommentDto">
            <id column="comment_id" property="commentId"/>
            <result column="comment_cust_id" property="custId"/>
            <result column="comment_content" property="commentContent"/>
            <result column="comment_regdate" property="commentRegdate"/>
            <result column="comment_update" property="commentUpdate"/>
<!--            <result column="board_id" property="boardId"/>-->
        </collection>
    </resultMap>

    <select id="selectOne" parameterType="Integer" resultMap="boardComment">
        SELECT *, c.cust_id as comment_cust_id FROM db_board b left join db_comment c on b.board_id = c.board_id WHERE b.board_id=#{id}
    </select>
    <select id="select" resultType="BoardDto">
        SELECT b.*, (select count(*) from db_comment where board_id = b.board_id) as comment_cnt FROM db_board b
    </select>
    <select id="getByCustId" parameterType="String" resultType="BoardDto">
        SELECT * FROM db_board WHERE cust_id=#{id}
    </select>
    <select id="getRank" resultType="BoardDto">
        SELECT * FROM db_board ORDER BY board_cnt DESC LIMIT 3
    </select>
    <select id="getPage" resultType="BoardDto">
        SELECT b.*, (select count(*) from db_comment where board_id = b.board_id) as comment_cnt FROM db_board b
    </select>
<!--    <select id="getAddrByCustId" parameterType="String" resultType="AddrDto">-->
<!--        SELECT * FROM db_addr WHERE cust_id=#{custId}-->
<!--    </select>-->
    <insert id="insert" parameterType="BoardDto">
        INSERT INTO db_board VALUES (0, #{custId}, #{boardTitle}, #{boardContent}, NOW(), NOW(), 0)
    </insert>
    <update id="update" parameterType="BoardDto">
        UPDATE db_board SET board_title = #{boardTitle}, board_content = #{boardContent}, board_update = NOW() WHERE board_id=#{boardId}
    </update>
    <update id="updateBoardCnt" parameterType="Integer">
        UPDATE db_board SET board_cnt = board_cnt+1 WHERE board_id = #{boardId}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM db_board WHERE board_id=#{boardId}
    </delete>

</mapper>