<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    // JSON (JavaScript Object Notation)
    // html DOM 이 화면에 표출되고 끝나면 호출됨
    $(function(){
        html2.init();
    });
</script>
<div class="container">
    <h2>HTML2 Page</h2>
    <button type="button" id="btn" class="btn btn-primary">success</button>
    <table class="table table-striped" id="cust_tb">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

</html>